* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background:linear-gradient(to bottom, rgb(37, 150, 190), white);
    min-height: 100vh;
}

.pokeApi{
    display: inline-block;
    position: relative;
    top: 5px;
}

.pokeImg{
    position: absolute;
    top: 200px;
    right: 140px;
    height: 120px;
    max-height: 120px;
    max-width: 180px;
    object-fit: contain;
}

.pokeApi .Pokemom {
    color: black;
}

.num{
    position: absolute;
    left: -300px;
    top: -292px;
    font-size: 1.7rem;
    width: auto;
    height: auto;
    color: #888;
}
.nPoke{
    position: absolute;
    left: -215px;
    top: -292px;
    font-size: 1.7rem;
    width: auto;
    height: auto;
}

.pokeApi form{
    position: absolute;
    width: 400px ;
    height: 100px;
    top: -230px;
    left: -418px;
}

.pokeApi input{
    width: 300px;
    padding: 4%;
    margin-right: 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: 1rem;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.btns{
    display:flex;
    position: absolute;
    top: -160px;
    left: -385px;
    gap: 180px;
}

.prev{
    position: absolute;
    left: 0px;
    top: 70px;
    font-size: 1rem;
    width: 140px;
    height: 45px;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

.siguiente{
    position: absolute;
    left: 160px;
    top: 70px;
    font-size: 1rem;
    width: 140px;
    height: 45px;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

.pokeApi button:hover{
    cursor: pointer;
}

.pokeApi button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

