@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background:linear-gradient(to bottom, rgb(37, 150, 190), white);
    min-height: 100vh;
}

.pokeApi{
    display: inline-block;
    position: relative;
    top: 5px;
}

.pokeImg{
    position: absolute;
    top: 200px;
    right: 140px;
    height: 120px;
    max-height: 120px;
    max-width: 180px;
    object-fit: contain;
}

.pokeApi h1{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 350px;
    right: 27%;
    font-size: 1.6rem;
}

.pokeApi .Pokemom {
    color: black;
}

.pokeApi form{
    position: absolute;
    width: 100% ;
    top: 420px;
}

.pokeApi input{
    width: 300px;
    padding: 4%;
    margin-right: 30px;
    outline: black;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: 1rem;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.btns{
    display: flex;
    position: absolute;
    top: 530px;
    width: 300px;
    margin-left: 50px;
    gap: 20px;
}

.pokeApi .btns{
    width: 140px;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

.pokeApi button:hover{
    cursor: pointer;
}

.pokeApi button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

