body{
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
input[placeholder="Ingresa un nombre..."]{
    padding: 10px;
    width: 250px;
    font-size: 16px;
    margin-left: 10px;
}

button{
    padding: 10px 15px;
    font-size: 16px;
    
}
.resultado{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}