body{
    background: url(./../media/tapete.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
}

.tapete h1{
    text-align: center;
    position: relative;
    color: white;
    font-size: 7rem;
    font-weight: 700;
    height: auto;
    top: 10vh;
}

.btns{
    
}